<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreShirtsStore</title>
    <link rel="stylesheet" href="../Styles/about-us.css" />
    <link rel="shortcut icon" href="./Images/favicon.svg" type="image/x-icon" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="../index.html" class="logo"
        ><i class="ri-paint-fill"></i><span>DreShirts</span></a
      >
      <ul class="navbar">
        <li><a href="../index.html">Home</a></li>
        <li>
          <a href="./about-us.html" class="active">Nasz skład</a>
        </li>
        <li><a href="#">Nasze prace</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
      <div class="main">
        <div class="bx bx-menu" id="menu-icon"></div>
      </div>
    </header>
    <br><br><br><br><br><br><br>
    <div class="container">
      <div class="team-header">
      <h1>Nasz skład</h1>
      </div>
      <div class="sub-container">
      <div class="teams">
        <img src="../Images/undraw_teaching_re_g7e3.svg" alt="CeoSvg" height="100px">
        <div class="name">Top3</div>
        <div class="desig">CEO & Developer</div>
        <div class="about">Zarząd DreShirts + Developer strony internetowej, oraz technik discord'a DreShirts.</div>
      </div>

            <div class="teams">
        <img src="../Images/undraw_active_support_re_b7sj.svg" alt="SuppSvg" height="100px">
        <div class="name">Alchemik</div>
        <div class="desig">Support & Graphic Worker</div>
        <div class="about">Osoba monitorująca prace innych grafików w DreShirts, również zajmuje się wykonywaniem zamówień.</div>
      </div>

                  <div class="teams">
        <img src="../Images/undraw_active_support_re_b7sj.svg" alt="SuppSvg" height="100px">
        <div class="name">Loto</div>
        <div class="desig">Support & Psycholog</div>
        <div class="about">Osoba odpowiedzialna za usprawnianie strony, mega epicki grafik.</div>
      </div>

                  <div class="teams">
        <img src="../Images/undraw_active_support_re_b7sj.svg" alt="SuppSvg" height="100px">
        <div class="name">Minionekkk</div>
        <div class="desig">Support & Graphic Worker</div>
        <div class="about">Bardzo dobry grafik, drugi technik discorda</div>
      </div>
      </div>
    </div>
    <!--js link-->
    <script src="../JavaScript/script.js"></script>
  </body>
</html>
